@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.clip{
    background-image: url("gtr.jpg");
    background-size: cover;
    background-color: red;
    padding: 1rem;
    border: 5px dashed #999;
    font-size: 2rem;
    font-weight: 900;
    color: #fff;
    background-clip: content-box; /*property defines how far the background (color or image) should extend within an element.*/
}
.banner h2{
    font-size: 80px;
    /* font-family: poppins; */
    color: #fff;
}
.banner{
    display: grid;
    place-items: center;
    min-height: 100vh;
    background-image: url("gtr.jpg");
    background-size: cover;
    background-position: center;
    /* background-color: green; */
}
.banner:hover{
    background-blend-mode: overlay;/*property defines the blending mode of each background layer (color and/or image). eg darken,overlay,luminosisty*/
    background-color: green; /*works the same even when placed on the .banner */
}
div.ex1 {
    width: 300px;
    background-color: yellow;
    }
div.ex2 {
    width: 300px;
    padding: 25px;
    background-color: lightblue;
    margin-bottom: 20px;
    }
    main{
        background-color: lightskyblue;
        padding: 1rem;
        max-width: 800px;
    }
    main p{
        margin: 1rem auto;
        background-color: #fff;
        padding: 1rem;      
    }
    main p:nth-child(1){
        max-width: 600px;
        text-align-last: center;
        text-transform: capitalize;
        text-indent: 30px;
    }
    main p:nth-child(2){
        width: 600px;
        text-align: center;
        text-transform: uppercase;
    }
    .dec{
        text-decoration: overline underline;
        
    }
    h1 {
        color: white;
        text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    }
    .fa-instagram{
        color: goldenrod;
        font-size: 20px;
    }
    h4{
        padding: 20px;
        background-color: rgb(245, 60, 60);
        /* width: 90px; */
        display: inline-block;
        margin: 20px;
        border-radius: 10px;
    }
    h4:hover{
        background-color: red;
    }
    table,th,td{
        margin-left: 20px;
        border-bottom: 3px solid rgb(7, 7, 90);
        border-collapse: collapse;
        padding: 10px;
    }
    tr:nth-of-type(1){
        background-color: rgb(75, 174, 192);
    }
    tr:nth-child(even){
        background-color: burlywood;
    }
    td:hover{
        cursor: pointer;
        background-color: rgb(142, 221, 68);
    }
    th:hover{
        cursor: pointer;
        background-color: rgb(142, 221, 68);
    }